{% extends "base.html" %}
{% block title %}Клиенты{% endblock %}


{% load django_tables2 %}
{% load static %}


{% block content %}
    <div class="row mt-4">
        <div class="col">
            <div class="card card-body bg-light bg-gradient rounded">
                <form action="" method="GET">
                    {{ client_filter.form }}
                    <button type="submit" class="btn btn-outline-primary">
                        Поиск
                    </button>
                </form>
            </div>
        </div>
    </div>


    <div class="container-fluid card mt-4 bg-light bg-gradient rounded h-100">
        <div class="toolbar mt-4">
            <p class="text-center fs-4">Список Клиентов</p>
        </div>


    {% render_table table %}


    </div>

{% endblock %}