{% extends "base.html" %}
{% block title %}Клиенты{% endblock %}


{% load django_tables2 %}
{% load user_filters %}
{% load static %}


{% block content %}
    <div class="row mt-4">
        <div class="col">
            <div class="card card-body bg-light bg-gradient rounded">
                <form action="" method="GET">
                    <div class="row">
                        <div class="col-md-2">
                            {{ client_filter.form.first_name|addcss:"{'class': 'form-control', 'placeholder': 'Имя'}" }}
                        </div>
                        <div class="col-md-2">
                            {{ client_filter.form.last_name|addcss:"{'class': 'form-control', 'placeholder': 'Фамилия'}" }}
                        </div>
                        <div class="col-md-2">
                            {{ client_filter.form.phone|addcss:"{'class': 'form-control', 'placeholder': 'Телефон'}" }}
                        </div>
                        <div class="col-md-1">
                            {{ client_filter.form.price_min|addcss:"{'class': 'form-control', 'placeholder': 'Мин. сумма'}" }}
                        </div>
                        <div class="col-md-1">
                            {{ client_filter.form.price_max|addcss:"{'class': 'form-control', 'placeholder': 'Макс. сумма'}" }}
                        </div>
                        <div class="col">
                            {{ client_filter.form.count|addcss:"{'class': 'form-control', 'placeholder': 'Количество посещений'}" }}
                        </div>
                        <div class="col-auto">
                            {{ client_filter.form.black_list|addcss:"{'class': 'form-select', 'id': 'autoSizingSelect'}" }}
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-outline-primary">
                                Поиск
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 mt-2">
                            <label for="formGroupExampleInput" class="form-label">Выберите начальную дату</label>
                            {{ client_filter.form.start_data }}
                        </div>
                        <div class="col-md-2 mt-2">
                            <label for="formGroupExampleInput" class="form-label">Выберите конечную дату</label>
                            {{ client_filter.form.end_data }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="container-fluid card mt-4 bg-light bg-gradient rounded h-100">
        <div class="toolbar mt-4">
            <p class="text-center fs-4">Список Клиентов</p>
        </div>


        {% render_table table %}


    </div>

{% endblock %}