{% extends "base.html" %}
{% load static %}
{% block title %}Удаление клиента{% endblock %}


{% block content %}
    <div class="custom-center-block">
        <form action="" method="post">{% csrf_token %}
            <p class="custom-text-block">Удалить рецепт</p>
            <p class="custom-text-block">Вы уверены, что хотите удалить рецепт "{{ client.phone }}"?</p>
            <div class="custom-button-block">
                <a href="{% url 'remove_client' client.id %}" class="button_a button_style_blue">Нет</a>
                <button style="margin-left: 2.5em" class="button button_style_red">Да</button>
            </div>
        </form>
    </div>
{% endblock %}