{% extends "base.html" %}
{% load static %}
{% block title %}Удаление клиента{% endblock %}


{% block content %}
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Удаление</h5>
                </div>
                <div class="modal-body">
                    <p>Вы уверены, что хотите удалить клиента
                        {% if client.first_name %}{{ client.first_name }}{% else %}с номером: {{ client.phone }}{% endif %}?</p>
                </div>
                <form action="" method="post">{% csrf_token %}
                    <div class="modal-footer">
                        <button class="btn btn-danger">Да, хочу</button>
                        <a href="{% url 'home' %}">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Нет, спасибо</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}